[submodule "Hadoop"]
	path = Hadoop
	url = https://github.com/matteobertozzi/Hadoop.git
        ignore = untracked
[submodule "mmtf"]
	path = mmtf-python
	url = https://github.com/rcsb/mmtf-python.git
        ignore = untracked
[submodule "populate_redis/Hadoop"]
	path = populate_redis/Hadoop
	url = https://github.com/matteobertozzi/Hadoop.git
        ignore = untracked
